.total-value-container {

  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 10%;

  color: #575757;

  @media (max-width: 320px) {
    font-size: 22px;
  }
}