.car-price-input-container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 36.97%;
  bottom: 5.88%;

  /* Серый */

  background: #F3F3F4;
  border-radius: 16px;
  border: none;

  padding-left: 24px;
  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #575757;
}