.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 12px;
  gap: 10px;

  position: absolute;
  width: 426px;
  height: 68px;
  left: 965px;
  top: 516px;

  background: #FF9514;
  border-radius: 40px;
  border: none;


  h2 {
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
  }

  @media (max-width: 1024px) {
    width: 345px;
    height: 68px;
    left: 48px;
    top: 825px;
  }
  @media (max-width: 768px) {
    width: 345px;
    height: 68px;
    left: 48px;
    top: 789px;
  }
  @media (max-width: 320px) {
    width: 280px;
    height: 60px;
    left: 20px;
    top: 700px;
  }
}