.input-title-container {
  position: relative;
  left: 0%;
  right: 58.55%;
  top: 0%;
  bottom: 83.19%;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #575757;
}