.input-block-container {
  display: flex;
  flex-direction: column;
  width: 427px;
  height: 119px;
  margin-left: 32px;

}

/*
.input-block-container {
  position: absolute;
  width: 427px;
  height: 119px;
  left: 47px;
  top: 343px;
}*/
