.header-title-container {
  position: absolute;
  width: 753px;
  height: 98px;
  left: 46px;
  top: 213px;

  h1 {
    margin: auto;
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
  }
}
